Flask==2.3.2 # non fare upgrade alla 2 perché incompatibile con flask-restx
Flask-Cors==3.0.10
flask-restx==1.1.0
# Flask-HTTPAuth==4.4.0
gevent==22.10.2
beautifulsoup4==4.12.2
requests==2.31.0
lxml==4.9.3
Jinja2==3.1.2   # non fare upgrade perché dipende da Flask
chardet==5.1.0
pdfminer.six==20221105
python-docx==0.8.11
dom==0.9
colorama==0.4.6
# escape==1.1

# requirements per la visualizzazione del DFA
# networkx==2.6.3
# networkx_viewer==0.3.0
# numpy==1.21.2
